.form-auth{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.form-container{
    height: 350px;
    width: 50%;
    background-color: #f8f9fa;
    border: 2px solid #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-container h2{
    color: #24478D;
}

.form-container .form-group{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.form-container .form-group label{
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    color: #24478D;

}
.form-container .form-group input{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-left: 2%;
}
.form-bt{
    width: 25%;
    height: 30px;
    border-radius: 4px;
    background-color: #24478D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f9fa;
    font-weight: bold;
    font-family: CLB;
    cursor: pointer;
    border: none;
    outline: none;
}
.error{
    font-weight: bold;
    color: red;
}